{:nrepl {:port 8777
         :init-ns shadow.user}

 ;; Avoid clashing with other running Shadow servers (hosting app uses 9630)
 :devtools {:http-port 9650
            :http-host "localhost"}

 :source-paths ["src" "resources/db"]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/main"
   :asset-path "/js/main"
   :devtools {:reload-strategy :full
              :auto-refresh true
              :after-load app.template.frontend.core/after-load}

   :dev {:target :browser
         :compiler-options {:warnings {:undeclared-var false
                                       :redef false
                                       :fn-deprecated false}

                            :closure-defines {re-frame.trace.trace-enabled? true}}
         :external-config
         {:devtools/config
          {:should-format? false
           :min-expandable-sequable-count-for-well-known-types 3
           :features-to-install
           [:formatters :hints]}}

         :modules {:app {:preloads [app.frontend.dev.tracing]}}}

   :modules
   {:app
    {:init-fn app.template.frontend.core/init
     :preloads [app.frontend.preload.silence]}}}

  :admin
  {:target :browser
   :output-dir "resources/public/js/admin"
   :asset-path "/js/admin"
   :devtools {:reload-strategy :full
              ;;:watch-dirs ["resources/public/css"]
              :auto-refresh true}
   :modules
   {:app
    {:init-fn app.admin.frontend.core/init
     :preloads [app.frontend.preload.silence
                app.frontend.dev.tracing]}}}

;; ClojureScript test build (browser)
  :test
  {:target :browser-test
   :test-dir "target/test"
   :ns-regexp "-test$"
   :compiler-options {:optimizations :none}
   :devtools {:http-root "target/test"
              :http-port 9095}}

  ;; ClojureScript Node.js test build for command line
  :test-node
  {:target :node-test
   :output-to "target/test-node.cjs"
   :ns-regexp "-test$"}

  :karma-test
  {:target :karma
   :output-to "target/karma-test.js"
   :ns-regexp "-test$"}}
 :deps true}
