#kaocha/v1
 {:watch           {:ignore         []
                    :follow-failed? false}
  :plugins         [:kaocha.plugin/capture-output
                    :kaocha.plugin/hooks]
  :tests           [{:id                        :app.backend
                     :kaocha.hooks/before [app.backend.fixtures/start-test-system]
                     :kaocha.hooks/after  [app.backend.fixtures/reset-test-system!]
                     :source-paths              ["src" "test" "vendor"]
                     :test-paths                ["test"]
                     :ns-patterns               ["^(?!app\\.e2e).*-test$"]}

                    {:id                        :e2e
                     :kaocha.hooks/before [app.e2e.fixtures/start-e2e-system]
                     :kaocha.hooks/after  [app.e2e.fixtures/stop-e2e-system]
                     :source-paths              ["src" "test" "vendor"]
                     :test-paths                ["test"]
                     :ns-patterns               ["app\\.e2e\\."]}]
  :capture-output? false}
