[["(?i)^coca.?cola"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^fanta\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^sprite\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^schweppes\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^pepsi\\b"
  "PepsiCo"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^7.?up\\b"
  "PepsiCo"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^chipsy\\b"
  "Marbo Product"
  "Pakovana hrana i pića"
  "Grickalice"]
 ["(?i)^smoki\\b" "Štark" "Pakovana hrana i pića" "Grickalice"]
 ["(?i)^(cig[\\s.]\\s*)?dunhill\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?marlboro\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?lucky.?str"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?winston\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?camel\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^cigarete\\b" nil "Duhan i duvanski proizvodi" "Cigarete"]
 ["(?i)^cigare\\b" nil "Duhan i duvanski proizvodi" "Cigarete"]
 ["(?i)^nivea\\b" "Beiersdorf" "Lična njega" nil]
 ["(?i)^balea\\b" "dm" "Lična njega" nil]
 ["(?i)^dove\\b" "Unilever" "Lična njega" "Dezodoransi"]
 ["(?i)^palmolive\\b" "Colgate-Palmolive" "Lična njega" nil]
 ["(?i)^maybelline\\b" "Maybelline" "Lična njega" "Šminka"]
 ["(?i)^bourjois\\b" "Bourjois" "Lična njega" "Šminka"]
 ["(?i)^sensodyne\\b" "GSK" "Lična njega" "Oralna higijena"]
 ["(?i)^libresse\\b" "Essity" "Lična njega" "Higijenski ulošci"]
 ["(?i)^syoss\\b" "Henkel" "Lična njega" "Boje za kosu"]
 ["(?i)^meggle\\b" "Meggle" "Mliječni proizvodi i jaja" nil]
 ["(?i)^dukat\\b" "Dukat" "Mliječni proizvodi i jaja" nil]
 ["(?i)^alpsko\\b"
  "Ljubljanske Mlekarne"
  "Mliječni proizvodi i jaja"
  "Mlijeko"]
 ["(?i)^milka\\b" "Mondelēz" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^nescafe\\b" "Nestlé" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^grand\\b.*kafa" "Grand" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^marcaffe\\b" "Marcaffe" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^fairy\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Sredstvo za suđe"]
 ["(?i)^pur\\b" "Henkel" "Sredstva za čišćenje" "Sredstvo za suđe"]
 ["(?i)(^|\\.)coccolino\\b"
  "Unilever"
  "Sredstva za čišćenje"
  "Omekšivači za rublje"]
 ["(?i)^zewa\\b" "Essity" "Papirna galanterija" nil]
 ["(?i)^milkos\\b" "Milkos" "Mliječni proizvodi i jaja" nil]
 ["(?i)^vindija\\b" "Vindija" "Mliječni proizvodi i jaja" nil]
 ["(?i)^zbregov\\b" "Vindija" "Mliječni proizvodi i jaja" "Mlijeko"]
 ["(?i)^president\\b" "Lactalis" "Mliječni proizvodi i jaja" nil]
 ["(?i)zlatna.?d[zž]ezva" "Vispak" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^vispak\\b" "Vispak" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^doncafe\\b" "Strauss" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^zvijezda\\b" "Podravka" "Pakovana hrana i pića" "Ulje"]
 ["(?i)^podravka\\b" "Podravka" "Pakovana hrana i pića" nil]
 ["(?i)^dolcela\\b" "Podravka" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^vegeta\\b" "Podravka" "Pakovana hrana i pića" "Začini"]
 ["(?i)^lino\\b" "Podravka" "Pakovana hrana i pića" "Dječja hrana"]
 ["(?i)^argeta\\b" "Atlantic Grupa" "Pakovana hrana i pića" "Paštete"]
 ["(?i)^linolada\\b" "Podravka" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^alverde\\b" "dm" "Lična njega" nil]
 ["(?i)^head.?shoulders" "Procter & Gamble" "Lična njega" "Šampon"]
 ["(?i)^always\\b" "Procter & Gamble" "Lična njega" nil]
 ["(?i)^colgate\\b"
  "Colgate-Palmolive"
  "Lična njega"
  "Oralna higijena"]
 ["(?i)^oral.?b\\b" "Procter & Gamble" "Lična njega" "Oralna higijena"]
 ["(?i)^domestos\\b" "Unilever" "Sredstva za čišćenje" nil]
 ["(?i)^ajax\\b" "Colgate-Palmolive" "Sredstva za čišćenje" nil]
 ["(?i)^persil\\b" "Henkel" "Sredstva za čišćenje" "Deterdžent"]
 ["(?i)^ariel\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Deterdžent"]
 ["(?i)^lenor\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Omekšivač"]
 ["(?i)^kinder\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^ferrero\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^raffaello\\b"
  "Ferrero"
  "Pakovana hrana i pića"
  "Čokolada i bomboni"]
 ["(?i)^nutella\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^haribo\\b" "Haribo" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^dorina\\b" "Kraš" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^kras\\b" "Kraš" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^stark\\b" "Štark" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^nesquik\\b" "Nestlé" "Pakovana hrana i pića" "Žitarice"]
 ["(?i)^logilink\\b" "Logilink" "Elektronika i dodaci" "Baterije"]
 ["(?i)^\\Qneofen\\E\\b" "Neofen" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qbulldog\\E\\b" "Bulldog" "Pića" nil]
 ["(?i)^\\Qcoca-cola\\E\\b" "Coca-Cola" "Beverages" nil]
 ["(?i)^\\Qmellow\\E\\b" "Mellow Spirit" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qherpegal\\E\\b" "Galas" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qodmaciivac\\E\\b" "Diplo" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qvioletta\\E\\b" "Violetta" "Proizvodi za bebe" nil]
 ["(?i)^\\Qlash\\E\\b" "Maybelline" "Lična njega" nil]
 ["(?i)^\\Qosnovni\\E\\b"
  "Medicover Diagnostics"
  "Zdravlje i apoteka"
  nil]
 ["(?i)^\\Qpil\\E\\b" "PIL" "Meso, morski plodovi i delikatesi" nil]
 ["(?i)^\\Qseti\\E\\b" "Seti" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdexomen\\E\\b" "Dexomen" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qbombo\\E\\b" "HARIBO BE" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qtjeste\\E\\b" "PILAV BIOFIT" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qzačin\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfoliija\\E\\b" "Bingo" "Kuhinjske potrepštine" nil]
 ["(?i)^\\Qdžemper\\E\\b" "Amisu" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qčokolada\\E\\b" "Dol" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qkotanyi\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]]
