[["(?i)^coca.?cola"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^fanta\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^sprite\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^schweppes\\b"
  "The Coca-Cola Company"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^pepsi\\b"
  "PepsiCo"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^7.?up\\b"
  "PepsiCo"
  "Pakovana hrana i pića"
  "Bezalkoholna pića"]
 ["(?i)^chipsy\\b"
  "Marbo Product"
  "Pakovana hrana i pića"
  "Grickalice"]
 ["(?i)^smoki\\b" "Štark" "Pakovana hrana i pića" "Grickalice"]
 ["(?i)^(cig[\\s.]\\s*)?dunhill\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?marlboro\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?lucky.?str"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?winston\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^(cig\\s+)?camel\\b"
  nil
  "Duhan i duvanski proizvodi"
  "Cigarete"]
 ["(?i)^cigarete\\b" nil "Duhan i duvanski proizvodi" "Cigarete"]
 ["(?i)^cigare\\b" nil "Duhan i duvanski proizvodi" "Cigarete"]
 ["(?i)^nivea\\b" "Beiersdorf" "Lična njega" nil]
 ["(?i)^balea\\b" "dm" "Lična njega" nil]
 ["(?i)^dove\\b" "Unilever" "Lična njega" "Dezodoransi"]
 ["(?i)^palmolive\\b" "Colgate-Palmolive" "Lična njega" nil]
 ["(?i)^maybelline\\b" "Maybelline" "Lična njega" "Šminka"]
 ["(?i)^bourjois\\b" "Bourjois" "Lična njega" "Šminka"]
 ["(?i)^sensodyne\\b" "GSK" "Lična njega" "Oralna higijena"]
 ["(?i)^libresse\\b" "Essity" "Lična njega" "Higijenski ulošci"]
 ["(?i)^syoss\\b" "Henkel" "Lična njega" "Boje za kosu"]
 ["(?i)^meggle\\b" "Meggle" "Mliječni proizvodi i jaja" nil]
 ["(?i)^dukat\\b" "Dukat" "Mliječni proizvodi i jaja" nil]
 ["(?i)^alpsko\\b"
  "Ljubljanske Mlekarne"
  "Mliječni proizvodi i jaja"
  "Mlijeko"]
 ["(?i)^milka\\b" "Mondelēz" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^nescafe\\b" "Nestlé" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^grand\\b.*kafa" "Grand" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^marcaffe\\b" "Marcaffe" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^fairy\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Sredstvo za suđe"]
 ["(?i)^pur\\b" "Henkel" "Sredstva za čišćenje" "Sredstvo za suđe"]
 ["(?i)(^|\\.)coccolino\\b"
  "Unilever"
  "Sredstva za čišćenje"
  "Omekšivači za rublje"]
 ["(?i)^zewa\\b" "Essity" "Papirna galanterija" nil]
 ["(?i)^milkos\\b" "Milkos" "Mliječni proizvodi i jaja" nil]
 ["(?i)^vindija\\b" "Vindija" "Mliječni proizvodi i jaja" nil]
 ["(?i)^zbregov\\b" "Vindija" "Mliječni proizvodi i jaja" "Mlijeko"]
 ["(?i)^president\\b" "Lactalis" "Mliječni proizvodi i jaja" nil]
 ["(?i)zlatna.?d[zž]ezva" "Vispak" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^vispak\\b" "Vispak" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^doncafe\\b" "Strauss" "Pakovana hrana i pića" "Kafa"]
 ["(?i)^zvijezda\\b" "Podravka" "Pakovana hrana i pića" "Ulje"]
 ["(?i)^podravka\\b" "Podravka" "Pakovana hrana i pića" nil]
 ["(?i)^dolcela\\b" "Podravka" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^vegeta\\b" "Podravka" "Pakovana hrana i pića" "Začini"]
 ["(?i)^lino\\b" "Podravka" "Pakovana hrana i pića" "Dječja hrana"]
 ["(?i)^argeta\\b" "Atlantic Grupa" "Pakovana hrana i pića" "Paštete"]
 ["(?i)^linolada\\b" "Podravka" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^alverde\\b" "dm" "Lična njega" nil]
 ["(?i)^head.?shoulders" "Procter & Gamble" "Lična njega" "Šampon"]
 ["(?i)^always\\b" "Procter & Gamble" "Lična njega" nil]
 ["(?i)^colgate\\b"
  "Colgate-Palmolive"
  "Lična njega"
  "Oralna higijena"]
 ["(?i)^oral.?b\\b" "Procter & Gamble" "Lična njega" "Oralna higijena"]
 ["(?i)^domestos\\b" "Unilever" "Sredstva za čišćenje" nil]
 ["(?i)^ajax\\b" "Colgate-Palmolive" "Sredstva za čišćenje" nil]
 ["(?i)^persil\\b" "Henkel" "Sredstva za čišćenje" "Deterdžent"]
 ["(?i)^ariel\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Deterdžent"]
 ["(?i)^lenor\\b"
  "Procter & Gamble"
  "Sredstva za čišćenje"
  "Omekšivač"]
 ["(?i)^kinder\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^ferrero\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^raffaello\\b"
  "Ferrero"
  "Pakovana hrana i pića"
  "Čokolada i bomboni"]
 ["(?i)^nutella\\b" "Ferrero" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^haribo\\b" "Haribo" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^dorina\\b" "Kraš" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^kras\\b" "Kraš" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^stark\\b" "Štark" "Pakovana hrana i pića" "Slatkiši"]
 ["(?i)^nesquik\\b" "Nestlé" "Pakovana hrana i pića" "Žitarice"]
 ["(?i)^logilink\\b" "Logilink" "Elektronika i dodaci" "Baterije"]
 ["(?i)^\\Qneofen\\E\\b" "Neofen" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qbulldog\\E\\b" "Bulldog" "Pića" nil]
 ["(?i)^\\Qcoca-cola\\E\\b" "Coca-Cola" "Pića" nil]
 ["(?i)^\\Qmellow\\E\\b" "Mellow Spirit" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qherpegal\\E\\b" "Galas" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qodmaciivac\\E\\b" "Diplo" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qvioletta\\E\\b" "Violetta" "Proizvodi za bebe" nil]
 ["(?i)^\\Qlash\\E\\b" "Maybelline" "Lična njega" nil]
 ["(?i)^\\Qosnovni\\E\\b"
  "Medicover Diagnostics"
  "Zdravlje i apoteka"
  nil]
 ["(?i)^\\Qpil\\E\\b" "PIL" "Meso, morski plodovi i delikatesi" nil]
 ["(?i)^\\Qseti\\E\\b" "Seti" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdexomen\\E\\b" "Dexomen" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qbombo\\E\\b" "HARIBO BE" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qtjeste\\E\\b" "PILAV BIOFIT" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qzačin\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfoliija\\E\\b" "Bingo" "Kuhinjske potrepštine" nil]
 ["(?i)^\\Qdžemper\\E\\b" "Amisu" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qčokolada\\E\\b" "Dol" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qkotanyi\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qkrem\\E\\b" "BINGO" "Mliječni proizvodi i jaja" nil]
 ["(?i)^\\Qdeo\\E\\b" "Garnier" "Lična njega" nil]
 ["(?i)^\\Qvero\\E\\b" "Vero Moda" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qubrus\\E\\b" "VIOLET" "Papirna galanterija" nil]
 ["(?i)^\\Qbiskvit\\E\\b"
  "Mondelez International"
  "Pakovana hrana i pića"
  nil]
 ["(?i)^\\Qmajoneza\\E\\b"
  "Mondelez International"
  "Pakovana hrana i pića"
  nil]
 ["(?i)^\\Qmerci\\E\\b" "Storck" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qvajkrem\\E\\b" "Meggle" "Mliječni proizvodi i jaja" nil]
 ["(?i)^\\Qdomestos\\E\\b" "Unilever" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qcips\\E\\b" "Marbo Product" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qgel\\E\\b" "Beiersdorf" "Lična njega" nil]
 ["(?i)^\\Qčokoladna\\E\\b" "STARK" "Pekara i deserti" nil]
 ["(?i)^\\Qsmrznuti\\E\\b" "Bingo" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdatulja\\E\\b" "Bingo" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfructal\\E\\b" "Rauch" "Pića" nil]
 ["(?i)^\\Qvreće\\E\\b" "Hoex" "Jednokratno posuđe i pakovanje" nil]
 ["(?i)^\\Qlokum\\E\\b" "Klas" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qmaramice\\E\\b" "Violeta" "Papirna galanterija" nil]
 ["(?i)^\\Qnapolitanke\\E\\b" "Jadro" "Pekara i deserti" nil]
 ["(?i)^\\Qpantene\\E\\b" "Procter & Gamble" "Lična njega" nil]
 ["(?i)^\\Qasepsoleta\\E\\b" "Asepsoleta" "Papirna galanterija" nil]
 ["(?i)^\\Qgrissini\\E\\b" "Amore" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfeferoni\\E\\b" "Njam" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qčips\\E\\b" "Mars" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qjufka\\E\\b" "Merak" "Pekara i deserti" nil]
 ["(?i)^\\Qhaše\\E\\b" "Podravka" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qbananice\\E\\b" "STARK" "Pekara i deserti" nil]
 ["(?i)^\\Qtrokutici\\E\\b" "Bingo" "Pekara i deserti" nil]
 ["(?i)^\\Qmješavina\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qsenf\\E\\b" "Nestlé" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qbegova\\E\\b" "Vispak" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qženska\\E\\b" "Vero Moda" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qfrosch\\E\\b" "Henkel" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qsladoled\\E\\b" "STARK" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qkokošija\\E\\b" "Podravka" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qmijesani\\E\\b" "Meggle" "Mliječni proizvodi i jaja" nil]
 ["(?i)^\\Qcokoladna\\E\\b" "STARK" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdžemper/pulover\\E\\b" "Amisu" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qsuha\\E\\b" "Vocar" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qžitarice\\E\\b" "Dr Oetker" "Pekara i deserti" nil]
 ["(?i)^\\Qtradicionalni\\E\\b"
  "Mundial Gyros"
  "Pakovana hrana i pića"
  nil]
 ["(?i)^\\Qumak\\E\\b" "Tabasco" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qstapići\\E\\b" "Saltas" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qgala\\E\\b" "Gala" "Jednokratno posuđe i pakovanje" nil]
 ["(?i)^\\Qdunhill\\E\\b" "BAT" "Duhan i duvanski proizvodi" nil]
 ["(?i)^\\Qhappy\\E\\b" "Rauch" "Pića" nil]
 ["(?i)^\\Qparking\\E\\b" "KJKP RAD" "Transport i putovanja" nil]
 ["(?i)^\\Qindijaner\\E\\b" "Kraš" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qgotovo\\E\\b" "Bingo" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qcrp\\E\\b" "Medicover" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qzacin\\E\\b" "Kotanyi" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qcokolada\\E\\b" "Dolcela" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdzemper/pulover\\E\\b" "Amisu" "Odjeća i modni dodaci" nil]
 ["(?i)^\\Qraffaello\\E\\b" "Ferrero" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qmilka\\E\\b"
  "Mondelez International"
  "Pakovana hrana i pića"
  nil]
 ["(?i)^\\Qdžem\\E\\b" "Swit" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qaqua\\E\\b" "Knjaz Miloš" "Pića" nil]
 ["(?i)^\\Qdonat\\E\\b" "Atlantic Grupa" "Pića" nil]
 ["(?i)^\\Qvaseline\\E\\b" "Unilever" "Lična njega" nil]
 ["(?i)^\\Qštapići\\E\\b" "Saltas" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdurabag\\E\\b"
  "DuraBag"
  "Jednokratno posuđe i pakovanje"
  nil]
 ["(?i)^\\Qkraš\\E\\b" "Kraš" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdenkmit\\E\\b" "dm" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qlasta\\E\\b" "Lasta" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfaks\\E\\b" "Faks" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qviol\\E\\b" "Violeta" "Papirna galanterija" nil]
 ["(?i)^\\Qoctenisept\\E\\b" "Schulke" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qsmajić\\E\\b" "Smajić" "Mliječni proizvodi i jaja" nil]
 ["(?i)^\\Qfruvita\\E\\b" "Fruvita" "Pića" nil]
 ["(?i)^\\Qfranck\\E\\b" "Franck" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qfine food\\E\\b" "Fine Food" "Pekara i deserti" nil]
 ["(?i)^\\Qnescafé\\E\\b" "Nestlé" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qaprixa\\E\\b" "Aprixa" "Zdravlje i apoteka" nil]
 ["(?i)^\\Qmak skincare\\E\\b" "Mak Skincare" "Lična njega" nil]
 ["(?i)^\\Qmisura\\E\\b" "Misura" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qsolea\\E\\b" "Solea" "Lična njega" nil]
 ["(?i)^\\Qvisimax\\E\\b" "Visimax" "Papirna galanterija" nil]
 ["(?i)^\\Qpapirni\\E\\b" "Violeta" "Papirna galanterija" nil]
 ["(?i)^\\Qpaprika\\E\\b"
  "Mljekara Pađeni"
  "Mliječni proizvodi i jaja"
  nil]
 ["(?i)^\\Qratluk\\E\\b" "Seyidoglu" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qkefir\\E\\b" "Zbregou" "Mliječni proizvodi i jaja" nil]
 ["(?i)^\\Qgustin\\E\\b"
  "Bonito"
  "Meso, morski plodovi i delikatesi"
  nil]
 ["(?i)^\\Qherba\\E\\b" "Herba" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qsnickers\\E\\b" "Mars" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qsoda\\E\\b" "Corn Flip" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qsuhi\\E\\b" "Rinfu" "Pakovana hrana i pića" nil]
 ["(?i)^\\Qdet\\E\\b" "Procter & Gamble" "Sredstva za čišćenje" nil]
 ["(?i)^\\Qnarezani\\E\\b"
  "Galas"
  "Meso, morski plodovi i delikatesi"
  nil]]
