;; English category name → Bosnian equivalent
;; Used to translate Perplexity responses that return English categories.
{"Dairy"                                      "Mliječni proizvodi i jaja"
 "Dairy Products"                             "Mliječni proizvodi i jaja"
 "Dairy & Eggs"                               "Mliječni proizvodi i jaja"
 "Milk & Dairy"                               "Mliječni proizvodi i jaja"
 "Beverages"                                  "Pakovana hrana i pića"
 "Drinks"                                     "Pakovana hrana i pića"
 "Food & Beverages"                           "Pakovana hrana i pića"
 "Packaged Food"                              "Pakovana hrana i pića"
 "Packaged Food & Drinks"                     "Pakovana hrana i pića"
 "Snacks"                                     "Pakovana hrana i pića"
 "Confectionery"                              "Pakovana hrana i pića"
 "Sweets & Confectionery"                     "Pakovana hrana i pića"
 "Jams & Marmalades"                          "Pakovana hrana i pića"
 "Jams & Marmalades & Honey & Preserve"       "Pakovana hrana i pića"
 "Condiments"                                 "Pakovana hrana i pića"
 "Spices & Seasonings"                        "Pakovana hrana i pića"
 "Personal Care"                              "Lična njega"
 "Health & Beauty"                            "Lična njega"
 "Beauty & Personal Care"                     "Lična njega"
 "Hygiene"                                    "Lična njega"
 "Health & Pharmacy"                          "Zdravlje i apoteka"
 "Pharmacy"                                   "Zdravlje i apoteka"
 "Medicine"                                   "Zdravlje i apoteka"
 "Meat & Seafood"                             "Meso, morski plodovi i delikatesi"
 "Meat"                                       "Meso, morski plodovi i delikatesi"
 "Bakery"                                     "Pekara i deserti"
 "Bakery & Pastry"                            "Pekara i deserti"
 "Bread & Pastry"                             "Pekara i deserti"
 "Tobacco"                                    "Duhan i duvanski proizvodi"
 "Tobacco Products"                           "Duhan i duvanski proizvodi"
 "Cleaning"                                   "Sredstva za čišćenje"
 "Cleaning Products"                          "Sredstva za čišćenje"
 "Household"                                  "Sredstva za čišćenje"
 "Paper Products"                             "Papirna galanterija"
 "Clothing"                                   "Odjeća i modni dodaci"
 "Fashion"                                    "Odjeća i modni dodaci"
 "Other"                                      "Ostalo"
 "Miscellaneous"                              "Ostalo"}
