({:action :create-table,
  :model-name :password_reset_tokens,
  :fields
  {:id {:primary-key true, :type :uuid},
   :principal-type {:null false, :type [:enum :login-principal-type]},
   :principal-id {:null false, :type :uuid},
   :token {:null false, :unique true, :type [:varchar 255]},
   :expires-at {:null false, :type :timestamptz},
   :used-at {:type :timestamptz},
   :created-at {:default "NOW()", :type :timestamptz}}}
 {:action :create-index,
  :index-name :idx-password-reset-tokens-token,
  :model-name :password_reset_tokens,
  :options {:fields [:token], :unique true, :type :btree}}
 {:action :create-index,
  :index-name :idx-password-reset-tokens-principal,
  :model-name :password_reset_tokens,
  :options {:fields [:principal_type :principal_id], :type :btree}}
 {:action :create-index,
  :index-name :idx-password-reset-tokens-expires,
  :model-name :password_reset_tokens,
  :options {:fields [:expires_at], :type :btree}})
