({:action :create-table,
  :model-name :user_expense_settings,
  :fields
  {:user-id
   {:primary-key true,
    :foreign-key :users/id,
    :on-delete :cascade,
    :type :uuid},
   :default-currency
   {:null false, :default "BAM", :type [:enum :currency]},
   :default-payer-id
   {:foreign-key :payers/id, :on-delete :set-null, :type :uuid},
   :notifications-enabled {:null false, :default true, :type :boolean},
   :created-at {:default "NOW()", :type :timestamptz},
   :updated-at {:default "NOW()", :type :timestamptz}}})
