({:action :create-table,
  :model-name :raw_labels,
  :fields
  {:id {:primary-key true, :type :uuid},
   :raw-label {:null false, :type :text},
   :normalized-key {:null false, :type [:varchar 255]},
   :created-at {:default "NOW()", :type :timestamptz},
   :updated-at {:default "NOW()", :type :timestamptz}}}
 {:action :add-column,
  :field-name :raw-label-id,
  :model-name :expense_items,
  :options {:foreign-key :raw_labels/id, :type :uuid}}
 {:action :create-index,
  :index-name :idx-expense-items-raw-label-id,
  :model-name :expense_items,
  :options {:fields [:raw_label_id], :type :btree}}
 {:action :create-index,
  :index-name :idx-raw-labels-normalized-key,
  :model-name :raw_labels,
  :options {:fields [:normalized_key], :unique true, :type :btree}})
