({:action :add-column,
  :field-name :raw-label,
  :model-name :article_aliases,
  :options {:type :text}}
 {:action :add-column,
  :field-name :alias-id,
  :model-name :expense_items,
  :options {:foreign-key :article_aliases/id, :type :uuid}}
 {:action :create-index,
  :index-name :idx-expense-items-alias,
  :model-name :expense_items,
  :options {:fields [:alias_id], :type :btree}}
 {:action :alter-column,
  :field-name :article-id,
  :model-name :article_aliases,
  :options
  {:foreign-key :articles/id, :on-delete :cascade, :type :uuid},
  :changes {:null {:from false, :to :EMPTY}}})
