({:action :drop-index,
  :index-name :idx-articles-manufacturer-id,
  :model-name :articles}
 {:action :drop-index,
  :index-name :idx-articles-manufacturer-alias-id,
  :model-name :articles}
 {:action :drop-column,
  :field-name :manufacturer-alias-id,
  :model-name :articles}
 {:action :drop-column,
  :field-name :manufacturer-id,
  :model-name :articles})
