({:action :create-table,
  :model-name :manufacturers,
  :fields
  {:id {:primary-key true, :type :uuid},
   :display-name {:null false, :type [:varchar 255]},
   :normalized-key {:null false, :type [:varchar 255]},
   :created-at {:default "NOW()", :type :timestamptz},
   :updated-at {:default "NOW()", :type :timestamptz}}}
 {:action :add-column,
  :field-name :manufacturer-id,
  :model-name :articles,
  :options
  {:foreign-key :manufacturers/id, :on-delete :set-null, :type :uuid}}
 {:action :create-index,
  :index-name :idx-articles-manufacturer-id,
  :model-name :articles,
  :options {:fields [:manufacturer_id], :type :btree}}
 {:action :create-index,
  :index-name :idx-manufacturers-display-name,
  :model-name :manufacturers,
  :options {:fields [:display_name], :type :btree}}
 {:action :create-index,
  :index-name :idx-manufacturers-normalized-key,
  :model-name :manufacturers,
  :options {:fields [:normalized_key], :unique true, :type :btree}})
