({:action :create-table,
  :model-name :categories,
  :fields
  {:id {:primary-key true, :type :uuid},
   :name {:null false, :type [:varchar 255]},
   :description {:type :text},
   :created-at {:default "NOW()", :type :timestamptz},
   :updated-at {:default "NOW()", :type :timestamptz}}}
 {:action :create-index,
  :index-name :idx-categories-name,
  :model-name :categories,
  :options {:fields [:name], :unique true, :type :btree}}
 {:action :create-table,
  :model-name :subcategories,
  :fields
  {:id {:primary-key true, :type :uuid},
   :category-id
   {:foreign-key :categories/id,
    :null false,
    :on-delete :cascade,
    :type :uuid},
   :name {:null false, :type [:varchar 255]},
   :description {:type :text},
   :created-at {:default "NOW()", :type :timestamptz},
   :updated-at {:default "NOW()", :type :timestamptz}}}
 {:action :add-column,
  :field-name :subcategory-id,
  :model-name :articles,
  :options
  {:foreign-key :subcategories/id, :on-delete :set-null, :type :uuid}}
 {:action :create-index,
  :index-name :idx-subcategories-category-name,
  :model-name :subcategories,
  :options {:fields [:category_id :name], :unique true, :type :btree}}
 {:action :create-index,
  :index-name :idx-subcategories-category-id,
  :model-name :subcategories,
  :options {:fields [:category_id], :type :btree}}
 {:action :create-index,
  :index-name :idx-articles-subcategory-id,
  :model-name :articles,
  :options {:fields [:subcategory_id], :type :btree}})
