({:action :alter-column,
  :field-name :updated-at,
  :model-name :stores,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :receipts,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :store_aliases,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :articles,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :user_expense_settings,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :admins,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :manufacturers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :suppliers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :admin_sessions,
  :options {:null false, :default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :payer_types,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :expense_items,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :stores,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :users,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :expenses,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :categories,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :subcategories,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :subcategories,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :price_observations,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :articles,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :payers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :expenses,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :audit_logs,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :supplier_aliases,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :user_expense_settings,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :admins,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :receipts,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :article_aliases,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :login_events,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :raw_labels,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :password_reset_tokens,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :supplier_aliases,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :manufacturers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :email_verification_tokens,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :users,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :payer_types,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :payers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :store_aliases,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :suppliers,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :updated-at,
  :model-name :categories,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}}
 {:action :alter-column,
  :field-name :created-at,
  :model-name :raw_labels,
  :options {:default [:now], :type :timestamptz},
  :changes {:default {:from "NOW()", :to [:now]}}})
