({:action :add-column,
  :field-name :expense-category-id,
  :model-name :receipts,
  :options
  {:foreign-key :expense_categories/id,
   :on-delete :set-null,
   :type :uuid}}
 {:action :add-column,
  :field-name :notes,
  :model-name :receipts,
  :options {:type :text}}
 {:action :add-column,
  :field-name :default-expense-category-id,
  :model-name :user_expense_settings,
  :options
  {:foreign-key :expense_categories/id,
   :on-delete :set-null,
   :type :uuid}}
 {:action :add-column,
  :field-name :is-system,
  :model-name :payer_types,
  :options {:null false, :default false, :type :boolean}}
 {:action :add-column,
  :field-name :default-note,
  :model-name :user_expense_settings,
  :options {:type :text}}
 {:action :add-column,
  :field-name :is-active,
  :model-name :payers,
  :options {:null false, :default true, :type :boolean}})
