;; Add country columns and unique index to cities
({:action :add-column,
  :field-name :zip,
  :model-name :cities,
  :options {:type [:varchar 20]}}
 {:action :add-column,
  :field-name :country,
  :model-name :cities,
  :options
  {:foreign-key :countries/country,
   :null false,
   :default "Bosnia and Herzegovina",
   :on-delete :restrict,
   :on-update :cascade,
   :type [:varchar 255]}}
 {:action :create-index,
  :index-name :uniq-cities-country-zip,
  :model-name :cities,
  :options {:fields [:country :zip], :unique true, :type :btree}})
