({:action :create-table,
  :model-name :expense_categories,
  :fields
  {:id {:primary-key true, :type :uuid},
   :name {:null false, :type [:varchar 255]},
   :created-at {:default [:now], :type :timestamptz},
   :updated-at {:default [:now], :type :timestamptz}}}
 {:action :create-index,
  :index-name :idx-expense-categories-name,
  :model-name :expense_categories,
  :options {:fields [:name], :unique true, :type :btree}}
 {:action :add-column,
  :field-name :expense-category-id,
  :model-name :expenses,
  :options
  {:foreign-key :expense_categories/id,
   :on-delete :set-null,
   :type :uuid}}
 {:action :create-index,
  :index-name :idx-expenses-expense-category,
  :model-name :expenses,
  :options {:fields [:expense_category_id], :type :btree}})
