({:action :alter-column,
  :field-name :priority,
  :model-name :backlog,
  :options
  {:null false,
   :default 5,
   :check [:raw "priority BETWEEN 1 AND 5"],
   :type :integer},
  :changes {:default {:from :EMPTY, :to 5}}}
 {:action :alter-column,
  :field-name :status,
  :model-name :backlog,
  :options
  {:null false, :default "Waiting", :type [:enum :backlog-status]},
  :changes {:default {:from :EMPTY, :to "Waiting"}}})
