({:action :create-table,
  :model-name :dedup_ignored_clusters,
  :fields
  {:id {:primary-key true, :type :uuid},
   :admin-id
   {:foreign-key :admins/id,
    :null false,
    :on-delete :cascade,
    :type :uuid},
   :entity-type {:null false, :type [:varchar 32]},
   :cluster-id {:null false, :type [:varchar 64]},
   :member-ids {:null false, :type :jsonb},
   :note {:type :text},
   :created-at {:default [:now], :type :timestamptz}}}
 {:action :create-index,
  :index-name :uniq-dedup-ignored-clusters-admin-entity-cluster,
  :model-name :dedup_ignored_clusters,
  :options
  {:fields [:admin_id :entity_type :cluster_id],
   :unique true,
   :type :btree}}
 {:action :create-index,
  :index-name :idx-dedup-ignored-clusters-admin-entity,
  :model-name :dedup_ignored_clusters,
  :options {:fields [:admin_id :entity_type], :type :btree}})
