({:action :alter-index,
  :index-name :uniq-tenant-memberships-active-owner,
  :model-name :tenant_memberships,
  :options
  {:fields [:tenant_id],
   :unique true,
   :where
   [:raw
    "role = 'owner'::membership_role AND status = 'active'::membership_status"],
   :type :btree}})
