{:name "fetchval",
 :up
 "CREATE OR REPLACE FUNCTION public.fetchval(hstore, text)\n RETURNS text\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_fetchval$function$\n",
 :down "DROP FUNCTION IF EXISTS fetchval(, text);"}
