{:name "ghstore_picksplit",
 :up
 "CREATE OR REPLACE FUNCTION public.ghstore_picksplit(internal, internal)\n RETURNS internal\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$ghstore_picksplit$function$\n",
 :down "DROP FUNCTION IF EXISTS ghstore_picksplit(, internal);"}
