{:name "ghstore_out",
 :up
 "CREATE OR REPLACE FUNCTION public.ghstore_out(ghstore)\n RETURNS cstring\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$ghstore_out$function$\n",
 :down "DROP FUNCTION IF EXISTS ghstore_out();"}
