{:name "hstore_in",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_in(cstring)\n RETURNS hstore\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_in$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_in();"}
