{:name "hstore_gt",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_gt(hstore, hstore)\n RETURNS boolean\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_gt$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_gt(, hstore);"}
