{:name "hstore_to_json_loose",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_to_json_loose(hstore)\n RETURNS json\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_to_json_loose$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_to_json_loose();"}
