{:name "hstore_hash_extended",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_hash_extended(hstore, bigint)\n RETURNS bigint\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_hash_extended$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_hash_extended(, bigint);"}
