{:name "hstore_version_diag",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_version_diag(hstore)\n RETURNS integer\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_version_diag$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_version_diag();"}
