{:name "hstore_to_array",
 :up
 "CREATE OR REPLACE FUNCTION public.hstore_to_array(hstore)\n RETURNS text[]\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_to_array$function$\n",
 :down "DROP FUNCTION IF EXISTS hstore_to_array();"}
