{:name "isexists",
 :up
 "CREATE OR REPLACE FUNCTION public.isexists(hstore, text)\n RETURNS boolean\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_exists$function$\n",
 :down "DROP FUNCTION IF EXISTS isexists(, text);"}
