{:name "svals",
 :up
 "CREATE OR REPLACE FUNCTION public.svals(hstore)\n RETURNS SETOF text\n LANGUAGE c\n IMMUTABLE PARALLEL SAFE STRICT\nAS '$libdir/hstore', $function$hstore_svals$function$\n",
 :down "DROP FUNCTION IF EXISTS svals();"}
