{:expenses {:title "My Expenses"},
 :receipts {:title "Receipts"},
 :suppliers {:title "Suppliers"},
 :payers {:title "Payers"},
 :payer-types {:title "Payer Types"},
 :expense-items {:title "Expense Items"},
 :articles {:title "Articles"},
 :article-aliases {:title "Article Aliases"},
 :raw-labels {:title "Raw Labels"},
 :price-observations {:title "Price Observations"}}
