{:expenses
 {:create-fields
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "notes"
   "is_posted"],
  :edit-fields
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "notes"
   "is_posted"],
  :field-config
  {:purchased_at {:type "datetime-local"},
   :supplier_id
   {:type "select",
    :label "Supplier",
    :options ["suppliers" "display_name"]},
   :payer_id
   {:type "select", :label "Payer", :options ["payers" "label"]},
   :currency
   {:type "select", :label "Currency", :options ["BAM" "EUR" "USD"]},
   :total_amount {:type "number", :step 0.01},
   :notes {:type "textarea"},
   :is_posted {:type "checkbox"}}},
 :article-aliases {:edit-fields ["raw_label_normalized" "confidence"]}}