{:expenses
 {:available-columns
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "notes"
   "is_posted"],
  :default-visible-columns
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "is_posted"],
  :filterable-columns
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "is_posted"],
  :sortable-columns
  ["purchased_at"
   "supplier_id"
   "payer_id"
   "currency"
   "total_amount"
   "is_posted"]}}
