{:expenses
 {:display-defaults
  {:show-pagination? false,
   :show-add-button? true,
   :show-highlights? true,
   :show-timestamps? true},
  :display-locks {:show-batch-edit? false, :show-batch-delete? false},
  :column-locks {:supplier_id false},
  :column-defaults {:purchased_at false}},
 :receipts
 {:display-defaults
  {:show-select? true,
   :show-pagination? true,
   :show-add-button? true,
   :show-filtering? true,
   :show-highlights? true,
   :show-timestamps? true},
  :display-locks {:show-batch-edit? false, :show-batch-delete? true}},
 :suppliers
 {:display-locks
  {:show-select? false,
   :show-batch-edit? false,
   :show-batch-delete? false,
   :show-add-button? true},
  :display-defaults {}},
 :payers
 {:display-locks
  {:show-select? false,
   :show-batch-edit? false,
   :show-batch-delete? false},
  :display-defaults {}}}
